.microbit-ble {
  width:350px;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-bottom: 8px;
  &::-webkit-scrollbar {
    display: none;
  }
} 