.da-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-grow: 10;
  align-items: center;
  > .MuiSlider-root {
    margin-left: 16px;
  }
  > .MuiFormControl-root {
    min-width: 80px;
  }
  
}

.pin-value-input {
  &__selection {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  &__btn-wrapper {
    margin-top: 8px;
  }
}