.about {
  &__btn{
    &.MuiButtonBase-root {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  &__content {
    padding: 16px;
    max-width: 350px;
    > p > a {
      color: black;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__row-icon {
    padding-right: 8px;
  }
  &__how-to {
    padding-right: 8px;
    padding-inline-start: 24px;
    > li > a {
      color: black;
    }
  }
}





